body {
	font-family: 'Nixie One', cursive;
}
h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
	font-weight: bold;
}

p {
	font-size: 14px;
}

p.password {
	font-size: 18px;
}

img {
	max-width: 1000px;
}

a {
	color: #444;
}

a:hover {
	color: #000;
}

a.image {
	color: none;
}

form, label {
	font-size: 16px;
	padding: 5px;
}

select {
	font-size: 16px;
	margin: 5px!important;
}

input[type=radio] {
	font-size: 16px;
	margin: 5px!important;	
}

input[type=submit] {
	font-size: 16px;
	margin: 10px 10px 0 0!important;
	background-color: #eee;
	border: 1px #000;
}