body {
	font-family: 'Nixie One', cursive;
}

div.password {
	padding: 5px;
	background-color: #eee;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

h2.generate {
	text-align: center;
}

p {
	font-size: 14px;
	margin: 10px;
}

p.password {
	font-size: 18px;
}

p.restart {
	margin: 10x 10px 20px 0px;
}

a {
	color: #444;
}

a:hover {
	color: #000;
}

a.image {
	color: none;
}

form, label {
	font-size: 16px;
	padding: 5px;
}

select {
	font-size: 16px;
	margin: 5px!important;
}

input[type=radio] {
	font-size: 16px;
	margin: 5px!important;	
}

input[type=submit], input[type=button] {
	font-size: 20px;
	margin: 10px 10px 0 0!important;
	background-color: #eee;
	border: 1px #000;
}